@charset "utf-8";

// Import external font
@import url('https://fonts.googleapis.com/css?family=Eczar|Roboto');


$family-sans-serif: 'Roboto', sans-serif;
$family-serif: 'Eczar', serif;
$family-primary: $family-sans-serif;
$family-secondary: $family-serif;

h1,h2,h3,h4,h5,h6 {
	font-family: $family-secondary;
}

body {
	color: #212121;
}

@import "../node_modules/bulma/bulma.sass";