{% extends "layout.twig" %}
<section class="section">
    <div class="container">
        {% block content %}

            <ul>
                {% for film in films %}
                    <li>{{ film.name }} - {{ film.genre }}</li>
                {% endfor %}
            </ul>
        {% endblock %}
    </div>
</section>