<nav class="navbar is-fixed-top is-black">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            Bumpr
        </a>
        <a role="button" class="navbar-burger" data-target="bumprMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu" id="bumprMenu">

    </div>
</nav>