<footer class="footer has-background-black-ter">
    <div class="content has-text-centered">
        <p>
            <strong>Bumpr-FilmDB</strong>
        </p>
    </div>
</footer>
<div id="backtotop">
    <a href="#"><i class="fas fa-chevron-up"></i></a>
</div>
<!-- scripts -->
<script src="assets/js/script.js"></script>