<nav class="navbar is-fixed-top is-black">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="assets/img/favicon/favicon-32x32.png"> Bumpr FilmDB
        </a>
        <a role="button" class="navbar-burger" data-target="bumprMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu" id="bumprMenu">
        <div class="navbar-start">
            <a href="#" class="navbar-item">Start</a>
        </div>
        <div class="navbar-end">
            <?php if($_SESSION['angemeldet'] === true) { ?>
                <a href="abmeldung.php"><?= $_SESSION['benutzername'] ?></a>
            <?php else { ?>
                <a href="/anmelden.php" class="navbar-item">Anmelden</a>
            <?php } ?>
        </div>
    </div>
</nav>